@model osnet.Models.Projeto

@{
    ViewData["Title"] = "Create";
}


<section class="content-header">
     <h1> Projetos <small>Cadastrar</small></h1>
     
    <ol class="breadcrumb">
    <li><a asp-action="index"><i class="fa fa-dashboard"></i> Projetos</a></li>
    <li class="active">Cadastrar</li>
    </ol>
</section>
<section class="content">
<div class="body">
    <div class="box box-success">        
        <div class="box-body">  
        <div class="row">
            <div class="col-md-12">

        <form asp-action="Create" class="form-horizontal" role="form">
            <div class="box-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataInicio" class="control-label"></label>
                <input asp-for="dataInicio" class="form-control" />
                <span asp-validation-for="dataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataTermino" class="control-label"></label>
                <input asp-for="dataTermino" class="form-control" />
                <span asp-validation-for="dataTermino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
                 <a asp-action="Index" class="btn btn-default">
                                    <i class="fa fa-remove"></i> Cancelar
                                  </a>
            </div>
            </div>
        </form>
  </div>
        </div>

    </div>

    
    
    <br />
    </div>
</section>
</div>            
    

